<div class="container">
  <h1 class="mt-3">New <%= @list.name %> Movie</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: @movies, include_blank: false %>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
